spring:
  datasource:
    url: jdbc:h2:mem:test;MODE=MariaDB
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
      default_batch_fetch_size: 100
    open-in-view: false
  data:
    storage-type: redis
    redis:
      host: localhost
      port: 6379
      password: zinc
  mail:
    host: smtp.gmail.com
    port: 587
    username: ljh19980823@gmail.com
    password: yyzdbabwrmhhvyhi
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          proxy:
            host: krmp-proxy.9rum.cc
            port: 3182
jwt:
  secret: 7ZmA656AIOuTneygkOyZlSDquLDsm5AgMeydvOywqALdlsKJL3234jklsdjfaKJDLnflkasdf
kakao:
  client:
    id: 08e6c709229f3b44a8cff2fc7168e1a2
    password: haaland09
  redirect:
    uri: http://localhost:3000/auth/kakao/signin
logging:
  level:
    '[com.example.kakao]': DEBUG
    '[org.hibernate.type]': TRACE
  profiles:
    active:
      - local